name: CI Python

on:
  push:
    branches:
      - main
    paths:
      - python/**
  pull_request:
    branches:
      - main
    paths:
      - python/**
  workflow_dispatch:

jobs:
  python-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      - name: Install dependencies
        run: uv sync
      - name: Check formatting
        run: uv run ruff format --check .
      - name: Run linter
        run: uv run ruff check .
      - name: Run tests
        run: uv run pytest
      - name: Type check with pyright
        run: uv run pyright python/src/** python/tests/** docs/data/** examples/**
      - name: Type check with mypy
        run: uv run mypy python/ docs/ examples/
